body{
    background-color: var(--background-color);
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

.page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.profile-card{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    border-radius: 10px;
    margin: 20px;
    width: 330px;
    height: 350px;

}

.profile-card .profile-header{
   display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    height: 100%;
    border-bottom: 1px solid hsl(227, 10%, 90%);
}

.profile-card .profile-header img{
    border-radius: 50%;
    margin-top: 20px;
}

.profile-card .profile-numbers{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
}

.profile-numbers .info .number, 
.profile-card .profile-header p{
    font-weight: 700;
}

.profile-card .profile-header .profile-age,
.profile-card .profile-header .profile-location, 
.profile-numbers .info .counter-type{
    color: var(--text-color);
}