body{
    background-color: var(--background-color);
}

.page-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card{
    background-color: #ffffff;
    height: 23rem;
    width: 20rem;
    border-radius: 20px;
}

.profile-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    gap: 1rem;
    margin-top: 10px;
    border-bottom: 1px solid hsl(227, 10%, 90%);
}

.profile-photo{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}

.profile-name{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
}

.profile-age{
    font-weight: 700;
}

span, p{
   color: var(--text-color);
   font-weight: 400;
}

strong{
    font-weight: 700;
}

.profile-stats{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.stat{
    display: flex;
    flex-direction: column;
    align-items: center;
}